In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar as cd

from datetime import datetime

In [3]:
def process_macroeconomic_data(raw_data):
    raw_data['Year']=pd.DatetimeIndex(raw_data['Year-Month']).year
    raw_data['Month']=pd.DatetimeIndex(raw_data['Year-Month']).month
    #raw_data=raw_data[raw_data['Year']<2015]
    raw_data=raw_data.drop(['Year-Month'],axis=1)
    return raw_data

In [4]:
raw_macroeconomic_data = pd.read_csv('F:/Kaggle_version2/Walmart/MacroEconomicData.csv')
processed_macroeconomic_data = process_macroeconomic_data(raw_macroeconomic_data)

In [5]:
processed_macroeconomic_data.tail()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
91,18741.600,16797.207,264.160,Democrats,4.9,12.51,9.64,25.52,?,80.26,-0.99,9.824,9.340,787,15.314,3.575,10.950,2016,8
92,18840.310,16852.563,264.602,Democrats,4.9,12.51,9.64,25.74,?,77.86,-2.99,9.950,9.464,790,15.580,3.475,10.950,2016,9
93,18740.780,16725.460,264.738,Democrats,4.8,12.51,9.64,26.04,?,78.52,0.85,9.950,9.464,785,15.472,3.475,11.425,2016,10
94,18960.462,16910.896,265.203,Democrats,4.6,12.41,9.45,25.87,?,78.92,0.51,9.950,9.464,791,15.600,3.475,11.425,2016,11
95,19015.393,16918.051,265.421,Democrats,4.7,12.41,9.45,25.90,?,79.50,0.73,9.950,9.464,810,15.962,3.275,11.600,2016,12

In [6]:
def read_weather_data():
    weather=pd.ExcelFile('F:/Kaggle_version2/Walmart/WeatherData.xlsx')
    df1=pd.read_excel(weather,'2009')
    df2=pd.read_excel(weather,'2010')
    df3=pd.read_excel(weather,'2011')
    df4=pd.read_excel(weather,'2012')
    df5=pd.read_excel(weather,'2013')
    df6=pd.read_excel(weather,'2014')
    df7=pd.read_excel(weather,'2015')
    df8=pd.read_excel(weather,'2016')
    frames=[df1,df2,df3,df4,df5,df6,df7,df8]
    weather=pd.concat(frames,ignore_index=True)
    return weather

In [7]:
def str_int(raw_data):
    raw_data=raw_data[raw_data.applymap(np.isreal).all(1)]
    for i in raw_data.columns.values:
        if i not in ('Precip. (mm) sum','WeatherEvent'):
            raw_data[i]=raw_data[i].astype(int)
    return raw_data

In [8]:
def process_weather_data(raw_data):
    raw_data['Day']=raw_data['Day'].astype(int)
    raw_data['Year']=raw_data['Year'].astype(int)
    raw_data['Month']=raw_data['Month'].apply(list(cd.month_abbr).index)
    raw_data=raw_data.drop('Day',axis=1)
    raw_data=str_int(raw_data)
    columns=raw_data.columns.values[:-2]
    raw_data=raw_data.groupby(['Year','Month'])[columns].mean()
    raw_data[['Year','Month']]=raw_data[['Year','Month']].astype(int)
    return raw_data

In [9]:
raw_weather_data = read_weather_data()
processed_weather_data = process_weather_data(raw_weather_data)
processed_weather_data.head()

C:\tools\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

            Year  Month  Temp high (°C)  Temp avg (°C)  Temp low (°C)  \
Year Month
2009 1      2009      1        0.263158      -3.052632      -6.578947
     2      2009      2        5.300000       1.100000      -3.250000
     3      2009      3       10.380952       5.952381       1.190476
     4      2009      4       19.941176      14.705882       8.705882
     5      2009      5       22.500000      17.428571      12.357143

            Dew Point high (°C)  Dew Point avg (°C)  Dew Point low (°C)  \
Year Month
2009 1                -8.526316          -12.421053          -15.210526
     2                -5.500000           -9.300000          -13.050000
     3                -1.809524           -5.095238           -8.380952
     4                 4.764706            1.000000           -1.882353
     5                10.357143            7.500000            4.285714

            Humidity (%) high  Humidity (%) avg  Humidity (%) low  \
Year Month
2009 1              63.526316         51.315789         38.631579
     2              62.800000         48.250000         33.500000
     3              65.476190         49.333333         32.761905
     4              63.470588         45.176471         26.882353
     5              76.142857         57.857143         39.214286

            Sea Level Press. (hPa) high  Sea Level Press. (hPa) avg  \
Year Month
2009 1                      1022.631579                 1018.263158
     2                      1023.350000                 1019.700000
     3                      1027.047619                 1023.571429
     4                      1020.588235                 1016.647059
     5                      1022.714286                 1020.000000

            Sea Level Press. (hPa) low  Visibility (km) high  \
Year Month
2009 1                     1013.000000                  16.0
     2                     1015.650000                  16.0
     3                     1019.714286                  16.0
     4                     1012.823529                  16.0
     5                     1017.357143                  16.0

            Visibility (km) avg  Visibility (km) low  Wind (km/h) low  \
Year Month
2009 1                16.000000            15.526316        27.473684
     2                15.900000            15.400000        27.300000
     3                15.571429            13.904762        26.000000
     4                15.941176            14.882353        26.705882
     5                15.428571            14.071429        22.142857

            Wind (km/h) avg  Wind (km/h) high
Year Month
2009 1            12.315789         40.263158
     2            12.050000         40.300000
     3            11.190476         38.142857
     4            10.941176         38.470588
     5             7.500000         32.785714

In [10]:
def process_holiday_data(raw_data):
    raw_data['Month']=pd.DatetimeIndex(raw_data['MonthDate']).month
    raw_data=raw_data.drop('MonthDate',axis=1)
    raw_data['Event_Count'] = raw_data['DayCategory']=='Event'
    raw_data['Holiday_Count'] = raw_data['DayCategory']=='Federal Holiday'
    intermidiate=raw_data[['Year','Month']].drop_duplicates()
   # print (intermidiate.shape)
    raw=raw_data.groupby(['Year','Month'])['Event_Count','Holiday_Count'].sum()
    raw=raw.reset_index()
    raw[['Year','Month']]=intermidiate[['Year','Month']]
    #print (raw_data[['Year','Month']].drop_duplicates())
    return raw.dropna(axis=0, how='any')

In [11]:
raw_holiday_data=pd.read_excel('F:/Kaggle_version2/Walmart/Events_HolidaysData.xlsx')
processed_holiday_data=process_holiday_data(raw_holiday_data)
processed_holiday_data.head()

     Year  Month  Event_Count  Holiday_Count
0  2009.0    1.0          0.0            2.0
2  2009.0    2.0          1.0            0.0
4  2009.0    4.0          1.0            0.0
5  2009.0    5.0          0.0            2.0
7  2009.0    6.0          1.0            1.0

In [12]:
microfinance_weather=pd.merge(processed_macroeconomic_data,processed_weather_data,on=['Year','Month'],how='inner')

In [13]:
microfinance_weather_holiday=pd.merge(microfinance_weather,processed_holiday_data, on=['Year','Month'] , how ='left')

In [14]:
microfinance_weather_holiday=microfinance_weather_holiday.drop(['PartyInPower','AdvertisingExpenses (in Thousand Dollars)'],axis=1)

In [15]:
microfinance_weather_holiday=microfinance_weather_holiday.fillna(0)
microfinance_weather_holiday['Holiday_Count']=microfinance_weather_holiday['Holiday_Count'].astype(int)

In [16]:
#sns.heatmap(microfinance_weather_holiday.corr())
#plt.plot(microfinance_weather_holiday)
microfinance_weather_holiday.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Event_Count,Holiday_Count
0,14421.753,14407.053,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,...,1018.263158,1013.000000,16.0,16.000000,15.526316,27.473684,12.315789,40.263158,0.0,2
1,14389.200,14366.177,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,...,1019.700000,1015.650000,16.0,15.900000,15.400000,27.300000,12.050000,40.300000,1.0,0
2,14340.702,14351.787,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,...,1023.571429,1019.714286,16.0,15.571429,13.904762,26.000000,11.190476,38.142857,0.0,0
3,14326.816,14351.602,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,...,1016.647059,1012.823529,16.0,15.941176,14.882353,26.705882,10.941176,38.470588,1.0,0
4,14345.905,14368.124,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,...,1020.000000,1017.357143,16.0,15.428571,14.071429,22.142857,7.500000,32.785714,0.0,2

In [17]:
def train_data_process(raw_data):
    inter=raw_data[['Year','Month']].drop_duplicates()
    raw_data=raw_data.groupby(['Year','Month'])['Sales(In ThousandDollars)'].sum().reset_index()
    return raw_data

In [18]:
raw_training_data=pd.read_csv('F:/Kaggle_version2/Walmart/Train_Kaggle.csv')
processed_train_data=train_data_process(raw_training_data)
processed_train_data.head()

   Year  Month  Sales(In ThousandDollars)
0  2009      1                     3215.0
1  2009      2                     3084.0
2  2009      3                     3719.0
3  2009      4                     4245.0
4  2009      5                     4371.0

In [19]:
mwht=pd.merge(microfinance_weather_holiday,processed_train_data,on=['Year','Month'],how='inner')
mwht=mwht.fillna(0)

In [20]:
mwht['Year'].unique()
mwht.shape

(72, 38)

In [21]:
Y_train=mwht['Sales(In ThousandDollars)']
x_train=mwht.drop(['Sales(In ThousandDollars)'],axis=1)

In [22]:
raw_test_data=pd.read_csv('F:/Kaggle_version2/Walmart/Test_Kaggle.csv')
raw_test_data=raw_test_data.fillna(0)
processed_test_data=train_data_process(raw_test_data)
processed_test_data.head()

   Year  Month  Sales(In ThousandDollars)
0  2015      1                        0.0
1  2015      2                        0.0
2  2015      3                        0.0
3  2015      4                        0.0
4  2015      5                        0.0

In [23]:
mwhtest=pd.merge(microfinance_weather_holiday,processed_test_data,on=['Year','Month'],how='inner')
x_test=mwhtest.drop(['Sales(In ThousandDollars)'],axis=1)

In [38]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [39]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [40]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30,25,20,15,10,5,3,2,1))
mlp.fit(x_train,Y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 25, 20, 15, 10, 5, 3, 2, 1),
       learning_rate='constant', learning_rate_init=0.001, max_iter=200,
       momentum=0.9, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [41]:
predictions = mlp.predict(x_test)
predictions

array([5537., 5537., 5537., 5537., 5537., 5537., 5537., 5537., 5537.,
       5537., 5537., 5537.])

In [44]:
mlp?

Epoch 1/50
72/72 [==============================] - 1s 7ms/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 2/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.8889 - acc: 0.0000e+00
Epoch 3/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 4/50
72/72 [==============================] - 0s 518us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 5/50
72/72 [==============================] - 0s 217us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 6/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 7/50
72/72 [==============================] - 0s 307us/step - loss: 25038102.4444 - acc: 0.0000e+00
Epoch 8/50
72/72 [==============================] - 0s 651us/step - loss: 25038105.7778 - acc: 0.0000e+00
Epoch 9/50
72/72 [==============================] - 0s 651us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 10/50
72/72 [==============================] - 0s 231us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 11/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.8889 - acc: 0.0000e+00
Epoch 12/50
72/72 [==============================] - 0s 280us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 13/50
72/72 [==============================] - 0s 651us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 14/50
72/72 [==============================] - 0s 525us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 15/50
72/72 [==============================] - 0s 379us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 16/50
72/72 [==============================] - 0s 434us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 17/50
72/72 [==============================] - 0s 769us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 18/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 19/50
72/72 [==============================] - 0s 601us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 20/50
72/72 [==============================] - 0s 480us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 21/50
72/72 [==============================] - 0s 403us/step - loss: 25038104.6667 - acc: 0.0000e+00
Epoch 22/50
72/72 [==============================] - ETA: 0s - loss: 27470884.0000 - acc: 0.0000e+ - 0s 416us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 23/50
72/72 [==============================] - 0s 434us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 24/50
72/72 [==============================] - 0s 321us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 25/50
72/72 [==============================] - 0s 651us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 26/50
72/72 [==============================] - 0s 434us/step - loss: 25038103.7778 - acc: 0.0000e+00
Epoch 27/50
72/72 [==============================] - 0s 483us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 28/50
72/72 [==============================] - 0s 434us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 29/50
72/72 [==============================] - 0s 511us/step - loss: 25038103.1111 - acc: 0.0000e+00
Epoch 30/50
72/72 [==============================] - 0s 434us/step - loss: 25038102.6667 - acc: 0.0000e+00
Epoch 31/50
72/72 [==============================] - 0s 216us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 32/50
72/72 [==============================] - 0s 307us/step - loss: 25038104.6667 - acc: 0.0000e+00
Epoch 33/50
72/72 [==============================] - ETA: 0s - loss: 26186954.0000 - acc: 0.0000e+ - 0s 217us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 34/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 35/50
72/72 [==============================] - 0s 742us/step - loss: 25038103.1111 - acc: 0.0000e+00
Epoch 36/50
72/72 [==============================] - 0s 651us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 37/50
72/72 [==============================] - 0s 525us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 38/50
72/72 [==============================] - 0s 570us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 39/50
72/72 [==============================] - 0s 368us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 40/50
72/72 [==============================] - 0s 334us/step - loss: 25038104.2222 - acc: 0.0000e+00
Epoch 41/50
72/72 [==============================] - 0s 868us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 42/50
72/72 [==============================] - 0s 532us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 43/50
72/72 [==============================] - 0s 217us/step - loss: 25038103.3333 - acc: 0.0000e+00
Epoch 44/50
72/72 [==============================] - 0s 217us/step - loss: 25038104.8889 - acc: 0.0000e+00
Epoch 45/50
72/72 [==============================] - 0s 525us/step - loss: 25038103.1111 - acc: 0.0000e+00
Epoch 46/50
72/72 [==============================] - 0s 651us/step - loss: 25038103.5556 - acc: 0.0000e+00
Epoch 47/50
72/72 [==============================] - 0s 434us/step - loss: 25038103.1111 - acc: 0.0000e+00
Epoch 48/50
72/72 [==============================] - 0s 525us/step - loss: 25038104.0000 - acc: 0.0000e+00
Epoch 49/50
72/72 [==============================] - 0s 434us/step - loss: 25038104.4444 - acc: 0.0000e+00
Epoch 50/50
72/72 [==============================] - 0s 525us/step - loss: 25038104.0000 - acc: 0.0000e+00

Join finance and holiday data frame

In [28]:
pd.__version__

'0.22.0'